* {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-top: 30px;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.container-wrapper {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  display: grid;
  grid-template-columns: auto auto;
}
.logo-img {
  width: 100px;
}

.navlinks ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: end;
}
.navlinks ul li {
  list-style: none;
  padding-right: 10px;
}
.navlinks ul li a {
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #a9a7aa;
}
.navlinks ul li a:hover {
  background-color: #2c2640;
  color: white;
}
#VP {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
.viewplans {
  background-color: #2c2640;
  display: grid;
  grid-template-columns: auto auto;
}
.viewplans .row1 {
  padding-left: 135.5px;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
  align-content: center;
}
.viewplans .row1 h1 {
  color: white;
  font-size: 3rem;
}
.viewplans .row1 p {
  color: white;
  font-size: 1rem;
}
.viewplans .row1 .row2-img {
  object-fit: cover;
  object-position: center;
}
.viewplans .row1 .btn {
  justify-self: center;
}
.viewplans .row1 button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  width: 150px;
  padding: 10px;
  border: white 1px solid;
}
.viewplans .row1 button:hover {
  background-color: white;
  color: #2c2640;
}
.viewplans .row1 .btn {
  text-align: center;
}
.diff {
  display: grid;
  grid-template-rows: auto auto;
  gap: 50px;
}
.diff .row1 h1 {
  font-size: 3rem;
  color: #2c2640;
}
.diff .row2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.diff .row2 .card {
  gap: 20px;
  display: grid;
  grid-template-rows: auto auto auto;
}
.card-img {
  width: 100px;
  object-position: center;
}
.card-title h2 {
  font-size: 1.3rem;
  color: #2c2640;
}
.card-text p {
  color: grey;
  font-size: 0.9rem;
}
.HowWeWork {
  background-color: #2c2640;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.HowWeWork .row1 h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.HowWeWork .row2 button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  width: 150px;
  padding: 10px;
  border: white 1px solid;
}
.HowWeWork .row2 button:hover {
  color: #2c2640;
  background-color: white;
}

.ffooter {
  padding-top: 100px;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 80px;
}
.ffooter .row1 {
  display: grid;
  grid-template-columns: auto auto;
}
.ffooter .row1 .icons {
  text-align: right;
}
.ffooter .row2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.ffooter .row2 .columns ul {
  padding-left: 0;
}
.ffooter .row2 .columns ul h2 {
  font-size: 0.9rem;
  font-weight: bold;
  color: grey;
  padding-bottom: 20px;
}
.ffooter .row2 .columns ul li {
  list-style: none;
  padding-bottom: 10px;
}
.ffooter .row2 .columns ul li a {
  text-decoration: none;
  color: #2c2640;
  font-weight: bold;
  font-size: 0.9rem;
}
.ffooter .row2 .columns ul li a:hover {
  text-decoration: underline;
}
.icon {
  width: 30px;
  padding-right: 10px;
}
.nav-btn {
  display: none;
}
@media screen and (max-width: 830px) {
  .body {
    max-width: none;
  }
  body {
    text-align: center;
  }
  .viewplans {
    display: inline-block;
    margin-bottom: 100px;
  }
  .viewplans .row1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .diff .row2 {
    display: inline-block;
  }
  .diff .row2 .card {
    margin-bottom: 50px;
  }
  .card-img {
    justify-self: center;
  }
  #HWW {
    padding-left: 10px;
    padding-right: 10px;
  }
  .HowWeWork {
    display: inline-block;
  }
  .HowWeWork .row1 {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .HowWeWork .row1 h1 {
    font-size: 2.5rem;
  }
  .ffooter {
    display: inline-block;
  }
  .ffooter .row1 {
    display: inline-block;
    margin-bottom: 50px;
  }
  .icon {
    width: 40px;
  }
  .ffooter .row1 .icons {
    padding-top: 20px;
    text-align: center;
  }
  .ffooter .row2 {
    display: inline-block;
  }
  .ffooter .row2 .columns {
    margin-bottom: 50px;
  }
  .container {
    padding-top: 0;
  }
  .container-wrapper {
    padding: 0;
  }
  .nav-btn {
    display: flex;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 20px;
    right: 30px;
    background-color: red;
    background-repeat: no-repeat;
    border: 0;
  }
  .nav-logo {
    text-align: start;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .nav-logo .logo-img {
    padding-top: 30px;
  }
  .navlinks {
    display: none;
    inset: 0 0 0 30%;
    position: fixed;
    z-index: 1000;
    background: hsl(0 0% 0%/0.5);
    backdrop-filter: blur(0.5em);
    height: 2000px;
    padding-top: 100px;
    padding-right: 150px;
  }
  .navlinks ul {
    display: inline-block;
  }
  .navlinks ul li {
    padding-bottom: 50px;
  }
  .navlinks ul li a:hover {
    background-color: white;
    color: #2c2640;
  }

  .random {
    display: inline-flex;
  }
  header {
    background-color: white;
    position: fixed;
  }
}
